<ion-view class="bg">
  <ion-content >
        <br>
    <div class="row">
      <div class="col col-20 p2"><a><img class="full-image" src="/img/sol.png"></a> <br><center>Geri</center></div>
      <div class="col col-60">
        <center><div class="p">1.DENEME </div></center><br>
        <center>
          <div class="row sayac">
            <div class="col"><img class="full-image" src="/img/12.png"></div>
            <div class="col"><img class="full-image" src="/img/5.png"></div>
            <div class="col"><img class="full-image" src="/img/36.png"></div>
          </div>
        </center>        
      </div>
      <div class="col col-20 p2"><a><img class="full-image" src="/img/not.png"></a> <br>Soru Listesi</div>      
    </div>
    
    <div class="transbox"> 
      <div style="font-size: 22px;">Soru: 1/100 </div>
      <div class="transbox">
        Aşşağıdaki padişahlardan hangisi İstanbul'u feth etmiştir ?  
      </div>
  

        <label class="container">Yavuz Sultan Selim
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">IV. Murad
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">II. Abdülhamid
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">Fatih Sultan Mehmed
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container">Yıldırım Beyazıd
              <input type="radio" name="radio">
              <span class="checkmark"></span>
          </label>    

    </div><br><br><br><br>

        <div class="row alt">
            <div class="col col-40"></div>
            <div class="col col-20"><a><img class="full-image" src="/img/cep.png"></a> </div>
            <div class="col col-40 "></div>      
        </div>
      
     

 
    
  </ion-content>
  <div class="row alt">
      <div class="col col-20 p2"><a><img class="full-image animated infinite pulse" src="/img/sol.png"></a><br> Önceki Soru</div>
      <div class="col col-10"></div>        
      <div class="col col-40">
        <center><a><img class="full-image animated infinite pulse" src="/img/fnsh.png"></a> </center>     
      </div>
      <div class="col col-10"></div>
      <div class="col col-20 p2"><a><img class="full-image animated infinite pulse" src="/img/sag.png"></a> <br> Sonraki Soru</div>      
    </div>
</ion-view>
